$background_color: #ff4d4d;

html,body {
	height: 100%; width: 100%;
	background-color: $background_color;
}

.active {
	text-decoration: underline;
}	

p {
	font-size: 18px;
	line-height: 1.5em;
}

pre {
	background-color:none !important;
	border:none;
}

@include links(#e6e6e6,#333333);

.statement {
	text-align:center;
	div p {
		font-size:1.6em;	
	}
}

/************** PAPER **************/
#canvas {
	width:100%; height:100%;
	position:absolute;
	top:0;	
	left:0;		
	z-index:1;
}

/********** MAIN CONTAINER ************/
.container-fluid {
	height: 100%;
}

.content-container {
	@extend .row;
	height:85%;

	.content-wrapper {
		@extend .col-md-10, .col-sm-10;
		position:relative;
		top:0;
		z-index:100;
		float:right;
		height:100%;
		overflow:auto;
		padding:0;
		background-color:rgba(255, 77, 77, 0.5);

		.content-block{
			color:white;
			width:100%;height:100%;
			padding:0px 10px;
			div {
				position:relative; top:50%;
				transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				-webkit-transform: translateY(-50%);	
			}
			a {
				color:#FAA;
			}
		}
	}
}

/************ NOTEBOOK ************/

.notebook-block {
	color:white;
	padding:0px 20px;

	div {
		image {
			max-width:100%;
			height:auto;
			margin:15px 0px;
		}
		@extend .row, .col-md-12;
		div {
			@extend .col-md-6;

			ul {
				list-style:none;
				padding-left:0px !important;
			}
		}
	}
	margin-bottom:50px; 
}

.notebook-img {
	max-width:100%;
	height:auto;
	margin:15px 0px;
}

/************TOP BANNER*************/
.topBanner {
	@extend .row;
	position:relative;
	height:15%;
	color:white;
	z-index:100;
	
	h1 {
		font-size:4em; 
		margin:0px 0px 0px 0px; 
		padding:0;
	}

	h2 {
		font-size:2.5em; 
		margin:0px 0px 0px 0px !important;
	}

	div{
		position:relative;
		top:50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
	}

	.banner-name{
		@extend .col-md-5, .col-sm-6;
		a {
			text-decoration:none;
			color:white;
			&:hover{
				text-decoration:none;
				color:gray;
			}
		}
	}

	.banner-contact{
		@extend .col-md-4, .hidden-sm, .hidden-xs, .pull-right;
		position:relative;
		top:50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		a{
			img{
				@extend .pull-right;
				text-align:right;
				height:40px;
				width:auto;
				padding-right:15px;
			}
		}
	}
}

/************NAVIGATION*************/
.navigation-wrapper {
	@extend .col-md-2, .col-sm-2;
	position:relative;
	top:0;
	z-index:100;
	left:0;


	height:100%;

	
	padding:0;

	.left-nav {
		@extend .hidden-xs, .hidden-sm;
		height:100%;
		padding:0; margin:0;

		ul {
		   	width:100%;	
			padding:inherit; margin: auto 0;
			position:relative;
			top:50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			border-right:1px solid white;

			li {
				list-style:none;text-decoration:none;
				height:inherit; width:inherit;

				a {
					display:block;
					height:100%;
					padding:20px 0 20px 15px;
					font-size: 1.2em;
				}
			}		
		}
	}
}

.contact-list{
	ul{
		list-style:none;
	}
	font-size:1.5em;
}